/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}
*{
    font-family:"Microsoft YaHei", "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*各浏览器显示不同，去掉蓝色边框*/
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "Microsoft yaHei";
}

/*去掉行内替换元素空白缝隙*/
select, input {
    vertical-align: middle;
}

select, input, textarea {
    margin: 0;
}

/*防止拖动 影响布局*/
textarea {
    resize: none;
}

/*去掉行内替换元素空白缝隙*/
img {
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

/*清除浮动*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}
/*浮动*/
.fl{
    float: left;
}
.fr{
    float: right;
}
.ml25{
    margin-left: 25px;
}
.body {
    width: 100%;
    position: relative;
}